<!DOCTYPE html>
<html>
    <title>Taking Attendance</title>
    <body bgcolor="#d5b3ae">
        <center>
            <h2>my class attendance</h2>

                {%if data == 'bcs123' %}
                    <h3>my trial for {{data}}</h3>
                    <img src="/static/4.jpg">

                {%else%}
                    <h3>am not in any classs</h3>

                {% endif %}


            <br><br>
            <a href="/">Go to homepage</a>
        </center>

    </body>
</html>