<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prediction</title>
</head>

<body bgcolor="#d5b3ae">
    <center>
        <h2>the stock price prediction graph</h2>
        <img src="static/4.jpg">

        {% block content %}

           print(data)
           


        {% endblock %}
    </center>
</body>
</html>